@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanskr/v13/PbykFmXiEBPT4ITbgNA5Cgm20xz64px_1hVWr0wuPNGmlQNMEfD4.0.woff2) format('woff2');
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}

.App {
  text-align: center;
  font-family: 'Noto Sans KR';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Addbtn:hover, .Delbtn:hover, .Updbtn:hover, .submit-btn:hover {
  background-position: right center;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  color: white;
}

.Addbtn{
  margin-top: 20px;
  margin-left: 10px;
  width: 80px;
  height: 30px;
  float: left;
  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  border: 0;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-color: #fff;
  /* background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%); */
}
.Delbtn{
  margin-top: 20px;
  margin-left: 10px;
  width: 80px;
  height: 30px;
  float: left;
  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  border: 0;
  box-shadow: 0 0 20px #eee;
  background-color: #fff;
  border-radius: 10px;
  /* background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%); */
}
.Updbtn{
  margin-top: 20px;
  margin-left: 10px;
  width: 80px;
  height: 30px;
  float: left;
  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  border: 0;
  box-shadow: 0 0 20px #eee;
  background-color: #fff;
  border-radius: 10px;
  /* background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%); */
}
.add-area{
  width: 300px;
  height: 100px;
  margin-left: 75px;
}
.btn-area{
  width: 100%;
  height: 100px;
  padding-left: 60px;
}
.tbl-area{
  width: 100%;
  height: 200px;
  padding-left: 50px;
  padding-top: 30px;
}
.submit-area{
  width: 100%;
  height: 50px;
  padding-left: 150px;
}
.cont-area{
  width: 400px;
  height: 550px;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  background: #fff;
}

.cont-area:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 12px;
  width: 45%;
  height: 20px;
  background: #777;
  -webkit-box-shadow: 0 15px 19px #aaa;
  -moz-box-shadow: 0 15px 19px #aaa;
  box-shadow: 0 15px 19px #aaa;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.cont-area:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 12px;
  width: 45%;
  height: 20px;
  background: #777;
  -webkit-box-shadow: 0 15px 19px #aaa;
  -moz-box-shadow: 0 15px 19px #aaa;
  box-shadow: 0 15px 19px #aaa;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}
.nameinput {
  border: none;
  width: 40px;
  height: 25px;
  border-radius: 10px;
  font-weight: bold;
  outline: none;
}

.phone-input{
  width: 50px;
  float: left;
  margin-left: 10px;
}

.submit-btn{
  margin-top: 20px;
  margin-left: 10px;
  width: 80px;
  height: 30px;
  float: left;
  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  border: 0;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  /* background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%); */
}

#standard-required{
  width: 100px;
  height: 30px;
}

.user-area {
  margin-top: 3px;
  width: 300px;
  height: 50px;
  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  border: 0;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  /* background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%); */
}

.user-area:hover {
  background-position: right center;
  background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  color: white;
  cursor: pointer;
}

.user-no {
  width: 50px;
  height: 50px;
  float: left;
  color: rgb(163, 122, 122);
}

.user-name{
  width: 80px;
  height: 38px;
  float: left;
  padding-top: 12px;
}

.user-phone{
  width: 120px;
  height: 38px;
  float: left;
  padding-top: 12px;
}

.user-gender{
  width: 50px;
  height: 38px;
  float: left;
  padding-top: 12px;
}

.cir{
  text-align: center;
  margin-top: 7px;
  margin-left: 4px;
  width: 75%;
  height: 70%;
  background-color: #ffebeb;
  float: left;
  border-radius: 30px;
  padding-top: 3px;
}

.name-list{
  width: 75%;
  height: 70%;
}