@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap');

::-moz-selection {
  background: rgb(255, 89, 89);
  color: #fff;
}
::selection {
  background: rgb(255, 89, 89);
  color: #fff;
}


body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(252, 252, 252);
}
body::after{
  width:100%;
  height: 100%;
  content: "";
  background-image: url('./space.gif');
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
